modules = ["nodejs-20", "web", "python-3.12"]

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 4028
externalPort = 80

[workflows]
runButton = "Start SkuliCheck"

[[workflows.workflow]]
name = "Start SkuliCheck"
author = 45736865
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd ConsolataCatholicComprehensive/skulicheck && npm run dev"
